.dashboard-container{
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: center;    
}

.filters-panel-container{    
    padding-bottom: 10px;
    padding-right: 25px;
    width: 100%;
}

.graph-container{ 
    display: flex; 
    justify-content: center;
    align-items: center;  
    position: relative;    
    width: 90%;  /*Canvas requires at least one relative measure like vh for responsiveness*/
    margin-top: 20px;
}


.settings-container {
    position: absolute; 
    top: 0px; 
    right: 0px; 
  }
