.home-view{    
    margin:auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (min-width: 600px) {
    .home-view{
        width: 50%;
    }
}

.tab-wrapper{
    max-width: 100%;
}

.table-wrapper{
    border-radius: 25px;
    /*max-height: 80vh;*/
    overflow-y: scroll;
    
}

.table-wrapper::-webkit-scrollbar{
    width: 0.5rem;        
  }
  .table-wrapper::-webkit-scrollbar-track{
    background-color: var(--bg-primary);      
  }
  
  .table-wrapper::-webkit-scrollbar-thumb{
    background-color: #ececec;      
  }

.andtm-tab {
    --active-line-color: var(--svg-icons-color);
    --active-title-color: var(--svg-icons-color);
    --title-font-size: large;
}

.expl-wrapper{
    
    font-size: large;
}

.home-icons{
    fill: var(--svg-icons-color)
}



