.filterPanel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 15px;    
    background-color: var(--bckg-primary);
    color: var(--text-secondary);
    box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.panel-container{
    flex: 1 1 300px;
    padding: 0 50px;
}

.panel-labels{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
}










/* Medium screens */
@media only screen and (max-width: 1360px)
{
    .filterPanel{
        align-items: center;
        padding: 5px;
        flex-wrap: wrap;
        
    }
    .panel-container{
        padding: 10px 50px;
    }
    
}

@media only screen and (max-width: 950px){
    .ant-picker-panels{
        display: none !important;
    }
    .ant-picker-presets > ul{
        height: auto !important;
    }
}


