:root{
  font-size: 18px;
  font-family: sans-serif;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #a8a8bc;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --transition-speed: 600ms;
  --svg-icons-color: #f5ad31;
  height:100vh;
}

body, #root {
  margin: 0;
  padding: 0;            
  height: 100%;
}

body::-webkit-scrollbar{
  width: 0.5rem;        
}
body::-webkit-scrollbar-track{
  background-color: var(--bg-primary);      
}

body::-webkit-scrollbar-thumb{
  background-color: #ececec;      
}